@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --yellow: rgb(172, 144, 228);
}

*{
    font-family: 'Comfortaa', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: none;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
    background-image: url(images/background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .4rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
}

header .logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0;
    width: 7rem;
}

header .logo img{
    width: 100%;

}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.3rem solid var(--yellow);
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color: var(--yellow);
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:rgb(51, 51, 51);
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--yellow);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding:0 10rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}

.home p span{
    color:var(--yellow);
}

.home {
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;

 }

 .hero {
    align-items: center;
    height: 100%;
 }

 .hero img {
    width: 100%;
    resize: both;
 }

 .hero img:hover {
    width: 110%;
    transform: rotate(5deg);
    transition-delay: 0.2s;
    transition-duration: 0.5s;
 }

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#eee;
}

.about .row .intro{
    font-size: 2rem;
    color:white;
    padding:1rem;
    line-height: 3rem;
    font-weight: normal;
    text-align: justify;
}

.about .row .counter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:12rem;
    background:#222;
    text-align: center;
    align-items: center;
    padding: 2rem;
    margin:2rem;
    border: 0.1rem solid var(--yellow);
}

.about .row .counter .box img{
    width:100%;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--yellow);
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding: 4rem;
    border-left: .2rem solid var(--yellow);
    position: relative;
    background-color: rgb(29, 29, 29);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    
}


.education .box-container .box span{
    font-size: 1.3rem;
    font-weight: 700;
    background:var(--yellow);
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:var(--yellow);
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
}

.education .box-container .box img{
    width:100%;
    height:100%;
    object-fit:scale-down;
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 26rem;
    width:34rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
    background-color: #333;
    padding: 1rem;
    border: 0.2rem solid var(--yellow);
}

.portfolio .box-container .box h3{
    color: var(--yellow);
}

.portfolio .box-container .box h4{
    color: white;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.portfolio .box-container .box iframe{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover iframe{
    transform: scale(1.2);
}


.project .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.project .box-container .box{
    height: 24rem;
    width:34rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
    background-color: #333;
    padding: 1rem;
    border: 0.2rem solid var(--yellow);
}

.project .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.project .box-container .box:hover img{
    transform: scale(1.2);
}

.interest .content-container h2{
    padding: 2rem;
    color: white;
    font-size: 3rem;
    border-bottom: .2rem solid var(--yellow);
 }

 .interest .content-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 4rem;
 }

 .interest .content-container .box .box-content{
    width:18rem;
    margin: 1rem;
    border-radius: 2rem;
 }

 .interest .content-container .box .box-content img{
    width: 100%;
    border-radius: 2rem;
    border: .2rem solid var(--yellow);
 }

 .interest .content-container .box .box-content iframe{
    width: 100%;
    border-radius: 2rem;
    border: .2rem solid var(--yellow);
 }

 .interest .content-container .box .box-spotify{
    margin: 1rem;
    border-radius: 2rem;
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#1a1a1a;
    border: .1rem solid var(--yellow);
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.contact .row .content .info .social{
    display: flex;
}

.contact .row .content .info .social .box-contact{
    display: flex;
    width:8rem;
    text-align: center;
    align-items: center;
    padding: 1rem;
    margin:1rem;
}
.contact .row .content .info .social .box-contact a img{
    width: 100%;
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}



















/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }


 .project p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
 }

 .vlog p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
 }


